@import "./variables";

// Use display: flex over again
@mixin flexOpt($flow) {
  display: flex;
  flex-flow: $flow;
}

// Theme selector
@mixin theme($theme) {
  $defTheme: $theme;

  @if $defTheme == light {
    ~ section {
      background: $colorThree;
      > * {
        color: $textDark;
      }
    }
  } @else if $defTheme == dark {
    ~ section {
      background: $colorOne;
      > * {
        color: $textLight;
      }
    }
  }
}
