@import "./variables";
@import "./functions";
@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap");

#check {
  display: none;
}

#check:checked ~ nav {
  display: block;
}

#check:checked ~ label span:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
#check:checked ~ label span:nth-child(2) {
  opacity: 0;
}
#check:checked ~ label span:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.sidebar {
  background: $colorOne;
  label {
    padding: 0px 7px;
    border: 5px solid $colorTwo;
    display: block;
    width: auto;
    float: right;
    margin: 3px;
    cursor: pointer;
    span {
      display: block;
      margin: 3px;
      background: $colorTwo;
      transition: all 0.2s ease-in-out;
      width: 35px;
      height: 5px;
      margin: 8.5px 0;
      transition: 0.4s;
      &:nth-of-type(2) {
        background: none;
        content: 'menu';
        font-size: 0.6em;
        color: $colorTwo;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        text-align: center;
        margin-top: 5px;
        font-weight: bold;
        letter-spacing: 0.2em;
        margin-top: -5px;
      }
    }
  }
  nav {
    clear: both;
    display: none;
    width: $columnRight;
    @media screen and (max-width: 500px) {
      width: 100%;
    }
    ul {
      li {
        a {
          color: $colorTwo;
          font-size: 0.8em;
          text-transform: uppercase;
          font-family: "Roboto";
          display: block;
          padding: 10px;
          text-decoration: none;
          &:hover {
            background: $colorTwo;
            color: $colorOne;
          }
        }
      }
    }
  }
}