// Background-colors
$colorOne: #32413e;
$colorTwo: #adbcb9;
$colorThree: #dcd6c9;

// Lighten/darken
$btn: lighten($colorTwo, 10%);
$btnCheck: darken($colorTwo, 10%);

// Text-colors
$textStandard: #3d3d3d;
$textLight: #dcd6c9;
$textMedium: #adbcb9;
$textDark: #32413e;

// Two-column size, sidebar
$columnRight: 20vw;