* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  margin: 20px 0;
  th,
  td {
    padding: 10px;
  }
  thead {
    text-align: left;
    th {
      border: none;
    }
  }
  tbody {
    .nothing {
      text-align: center !important;
    }
    tr {
      border-bottom: 1px solid #efefef;
      td {
        border: none;
        &:last-of-type {
          text-align: right;
        }
        em {
          color: rgb(219, 219, 219);
        }
        .delete {
          display: block;
          background: darken(red, 10%);
          color: #fff;
          font-weight: bold;
          padding: 5px;
          text-align: center;
          border-radius: 5px;
          cursor: pointer;
          &:hover {
            background: darken(red, 20%);
            text-decoration: none;
          }
        }
      }
    }
  }
}

.form {
  text-align: center;
  > * {
    border-radius: 5px;
  }
  input[type="text"] {
    width: 49%;
    display: inline-block;
    padding: 10px;
    font-size: 0.8em;
    margin: 3px 0;
    border: 1px solid #efefef;
  }
  input[type="url"] {
    @extend input[type="text"];
  }
  input[type="submit"] {
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 0.8em;
  }
}
